<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Your solution for accurate tree enumeration">
  <title>TreeVerse</title>

  <!-- Favicon -->
  <link rel="shortcut icon" href="{{ url_for('static', filename='icons/favicon.io') }}" type="image/x-icon">
  <link rel="apple-touch-icon" href="{{ url_for('static', filename='images/apple-touch-icon.png') }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/apple-touch-icon-180x180.png') }}">

  <!-- Stylesheets -->
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Montserrat:400,700" type="text/css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/daisyui@3.9.3/dist/full.min.css">
  <script src="https://cdn.tailwindcss.com"></script>
  <script>
    tailwind.config = {
      theme: {
        extend: {
          colors: {
            primary: "#1E3A8A", // Dark blue
            secondary: "#60A5FA", // Light blue
            accent: "#65A30D" // Green
          },
          fontFamily: {
            sans: ['Montserrat', 'sans-serif']
          }
        }
      }
    }
  </script>
</head>
<body class="bg-gray-100 font-sans">
  <header class="bg-primary py-4">
    <div class="container mx-auto flex items-center justify-between">
      <a href="/" class="flex items-center text-white">
        <span class="text-2xl font-bold">TreeVerse</span>
      </a>
      </div>
    </div>
  </header>

  <main>
    <section id="hero" class="bg-gray-100 py-16 text-center">
      <div class="container mx-auto px-4">
        <h1 class="text-4xl font-bold mb-4 text-primary">Your Solution for Accurate Tree Enumeration</h1>
        <p class="text-gray-600 text-lg mb-8">TreeVerse is an open service for Tree Enumeration, providing access to visualizations and interactive interfaces to explore and interpret the results easily.</p>
        <a href="{{ url_for('main.predict') }}" class="inline-block btn btn-primary p-4">Get Started</a>
      </div>
    </section>

    <section class="grid grid-cols-1 md:grid-cols-3 gap-8 container mx-auto px-4 py-12">
      <div class="bg-white p-6 shadow-lg rounded-lg">
        <h3 class="text-xl font-bold mb-2 text-primary">Efficient Image Processing</h3>
        <p class="text-gray-600">Advanced image processing accurately identify trees from aerial or satellite imagery.</p>
      </div>
      <div class="bg-white p-6 shadow-lg rounded-lg">
        <h3 class="text-xl font-bold mb-2 text-primary">Optimal Pathing</h3>
        <p class="text-gray-600">Computes the optimal path between two points within the area</p>
      </div>
      <div class="bg-white p-6 shadow-lg rounded-lg">
        <h3 class="text-xl font-bold mb-2 text-primary">Insightful Analytics</h3>
        <p class="text-gray-600">Unlock actionable intelligence to support your decision-making process for managing and maintaining your urban trees.</p>
      </div>
    </section>

    <section class="py-12">
      <div class="container mx-auto px-4">
        <img src="{{ url_for('static', filename='images/panaromic.png') }}" alt="Panoramic view" class="mx-auto rounded-lg shadow-lg" />
      </div>
    </section>
  </main>


  <script src="{{ url_for('static', filename='js/script.js') }}" async></script>
</body>
</html>